.container {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background: rgb(252, 252, 252);
    box-shadow: 0 30px 20px -20px #000;
    border: 3px solid black;
    align-items: center;
  }
 .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  html {
    font-size: 18px;
  }
  body {
    color:black;
    font-family: "Questrial", sans-serif;
    background-color: #ffec63;
    background-image: linear-gradient(
        45deg,
        #ffd966 25%,
        transparent 25%,
        transparent 75%,
        #ffd966 75%,
        #ffd966
      ),
      linear-gradient(
        -45deg,
        #ffd966 25%,
        transparent 25%,
        transparent 75%,
        #ffd966 75%,
        #ffd966
      );
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 4s infinite linear;
  }
  
  @keyframes slide {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -120px 60px;
    }
  }
  
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  }
 
  .btn {
    color:inherit;
      font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  }
  .playAllbtn {
    color:inherit;
      font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 1rem;
    border: 3px solid black;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  }
  .btn:last-child {
    margin: 0;
  }
  
  .btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
  .btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }
  
  .options {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .thumbnails {
  color:inherit;
      font-family:inherit;
      width: 130px;
      height: 100px;
    font-size: inherit;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  }
  .btnClose {
    color:inherit;
      font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 1.5rem;
    border: 3px solid black;
    margin-top: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 0 black;
    
    position: absolute;
    top: 5px;
    right: 10px;
  }
